node_modules
npm-debug.log
yarn-error.log
data
.env
icon-font/behance.svg
icon-font/facebook.svg
icon-font/instagram.svg
rebirth_backend.sql
icon-font/behance_icon.svg
icon-font/facebook_icon.svg
icon-font/instagram_icon.svg
ikony/ilustracje_icon.svg
ikony/listy_icon.svg
ikony/podroze_icon.svg
ikony/portfolio_icon.svg
ikony/tworcze_zycie_icon.svg
zdjecia
frontend/tmp/
