@import url('https://fonts.googleapis.com/css2?family=Allura&family=Arsenal:wght@400;700&display=swap');

@import 'icon-font.css';
/* purgecss start ignore */
@tailwind base;
@tailwind components;

/* Custom properities */
.grid-padding {
    @apply px-6;
}

.grid-margin {
    @apply mx-6;
}

.primary {
    color: #BC3D2C;
}

h1 {
    @apply text-4xl;
    font-family: Allura, 'sans serif';
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

h1, h2, h3, h4 {
    font-family: Allura, 'sans serif';
}

.gap {
    @apply px-3;
}

@media (min-width: 768px) {
    .gap {
        @apply px-24;
    }
}
/* purgecss end ignore */
@tailwind utilities;