@import url('https://fonts.googleapis.com/css2?family=Allura&family=Arsenal:wght@400;700&display=swap');

@import 'icon-font.scss';

@tailwind base;
@tailwind components;

@import 'typography.scss';

a:focus {
    outline: 0;
}

/* Custom properities */
.grid-padding {
    @apply px-8;
}

.grid-margin {
    @apply mx-8;
}

.primary {
    color: #BC3D2C;
}

.post-gap {
    @apply px-8;
}

.post-tease:last-child {
    @apply mb-10;
}

.font-decorative {
    font-family: Allura, sans-serif;
}

@media (min-width: 768px) {
    .post-gap {
        @apply px-24;
    }

    .desktop-container {
        z-index: 3;
        background: rgba(255, 255, 255, 0.7);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        max-width: 90%;
        
        @apply grid;
    }

    .tags {
        order: 5;
    }

    .featured-image {
        z-index: 1;
        max-height: 540px;
        max-width: 80%;
        transform: translateY(-50%);
        top:50%;
    }

    .featured-image__img {
        max-height: 540px;
    }

    .post-tease {
        max-width: 1000px;
        height: 540px;
        @apply w-9/12;
    }

    /* Dektop layout for post tease*/
    .post-tease:nth-child(odd) .featured-image {
        left: 0;
    }

    .post-tease:nth-child(odd) .desktop-container {
        right: 0;
    }

    .post-tease:nth-child(even) .featured-image {
        right: 0;
    }

    .post-tease:nth-child(even) .desktop-container {
        left: 0;
    }
    
}

@media(min-width:1024px) {
    .desktop-container {
        max-width: 60%;
    }
}

@media(min-width: 1280px) {
    .desktop-container {
        max-width: 50%;
    }
}

.pagination-link {
    background: #E8A997;
    @apply text-white mx-2 rounded-full inline-block w-8 h-8;
}

.pagination-link.is-current {
    background: #BC3D2C;
}

p.has-text-align-right {
    text-align: right;
}

.post-content {
    // Gallery display
    .wp-block-gallery {

        width: 100%;

        @media(min-width:768px) {
            max-width: 674px;
            @apply mx-auto;
          }

        .blocks-gallery-grid {
            @apply flex flex-wrap m-0;
        }

        .blocks-gallery-item {
            margin: 0 16px 16px 0;
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            justify-content: center;
            position: relative;
            width: calc((100% - 16px) / 2);

            &:last-child {
                margin-right: 0;
            }

            img {
                display: block;
                max-width: 100%;
                height: auto;
                width: 100%;
            }
        }

        &.columns-2 .blocks-gallery-item:nth-of-type(2n) {
            margin-right: 0;
        }

    }

    // Auto-center images
    .wp-block-image {
        max-width: 674px;
        @apply mx-auto py-4;

        img {
            @apply mx-auto block;
        }
      }
}

@tailwind utilities;